<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Olvide mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

 <form [formGroup]="onRecovePasswordForm" color="dark">
  <ion-item no-padding class="animated fadeInUp" color="dark">
    <ion-label position="stacked">
      <ion-icon name="mail" item-start></ion-icon>
      Email
    </ion-label>
    <ion-input type="email" formControlName="email" email placeholder="Ingrese su email"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button icon-left size="medium" expand="full" shape="round" color="primary"
      [disabled]="!onRecovePasswordForm.valid" (click)="onResetPassword()">
        Restablecer contraseña
      </ion-button>
    </ion-col>
  </ion-row>

 </form>

</ion-content>
