.display-flex{
    display: flex;
    flex-direction: column;
}

img{
    max-height: 350px !important;
    height: 350px !important;
}

.row-rate-year{
    width: 100%;
    font-size: larger;
}

.lb-rate-movie{
    margin-bottom: 5px;
}