.row-avatar{
    margin-top: 45%;
}

.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 110px !important; 
    min-width: 110px !important; 
    max-height: 110px !important; 
    min-height: 110px !important;
    margin: 0 auto
}

a {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}