<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-title>
      Peliculas
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" >


  <ion-list>
    <ion-item-sliding *ngFor="let movie of movies">
      <ion-card color="dark">
        <ion-item-options side="start">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item color="dark" (click)="redirectPage('view-movie')">
          <ion-img slot="start" class="img-movie "  src="{{movie.img}}"></ion-img>
          <div>
            <h2 >{{ movie.title }}</h2>
            <p>
              {{ movie.description }}
            </p>
            <p class="lb-rate-movie">Rate</p>
            <div class="div-rate-movie">
              <ion-icon slot="icon-only" name="{{start}}"  *ngFor="let start of movie.rating"></ion-icon>
            </div>
          </div> 
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="redirectPage('edit-movie')">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

  <ion-fab  vertical="bottom" horizontal="center" slot="fixed" color="light">
    <ion-fab-button color="light" (click)="redirectPage('add-movie')">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
