<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="toGetBack()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar Película</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid color="dark" class="display-flex ion-justify-content-center ion-align-items-center">
    <ion-row class="ion-justify-content-center ion-align-items-center row-avatar">
      <ion-col class="ion-align-self-center" (click)="onAddImage()"
               *ngFor="let photo of photos">
                <img class="img-avatar" *ngIf="!photo.webviewPath" src="../../../assets/img/icono-img.png">
                <img class="img-movie" *ngIf="photo.webviewPath" [src]="photo.webviewPath | safeResourceUrl">

      </ion-col>
    </ion-row>

    <form [formGroup]="formAddMovie"  class="form-add-movie">
      <ion-item no-padding class="animated fadeInUp" color="dark" class="input-title">
        <ion-label class="text-dark" position="floating">
          Título
        </ion-label>
        <ion-input class="text-dark" type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp" color="dark">
        <ion-label position="floating">
          Año de Estreno
        </ion-label>
        <ion-input type="number" formControlName="year" ngModel maxlength="5"></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp" color="dark">
        <ion-label position="floating">
            Descripción Corta
        </ion-label>
        <ion-input class="text-dark" type="text" formControlName="shortDescription"></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp" color="dark">
        <ion-label position="floating">
          Descripción Larga
        </ion-label>
        <ion-textarea rows="5" cols="20" formControlName="longDescription" placeholder="Ingrese una descripción larga...."></ion-textarea>
      </ion-item>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button  icon-left size="medium" expand="full" shape="round" color="primary"
            (click)="onAddMovie()" [disabled]="!formAddMovie.valid" tappable>
            Agregar Película
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  
  </ion-grid>

</ion-content>
